:root {
  --bs-primary: #4CAF50;
  --bs-danger: #D32F2F;
  --bs-info: #1976D2;
  --bs-body-bg: #f0f0f0;
  --bs-body-color: #212121;
  --bs-table-color: #6c757d;
  --bs-table-bg: #f0f0f0;
  --bs-table-border-color: transparent;
  --bs-shadow-lg: #6c757d;

  --game-in-progress: orange;
  --game-new: red;
  --game-win: green;
  --game-lose: grey;
}

.col.border {
  border-color: var(--bs-primary) !important;
  background-color: var(--bs-table-bg) !important;
  color: var(--bs-body-color);
}

.hover:hover {
  background-color: #4CAF50 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.form-signin {
  max-width: 350px;
}

.h-all {
  min-height: 100vh;
}

.w-all {
  min-width: 100vh;
}

.w-80 {
  min-width: 80vh;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-primary:hover {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: var(--bs-body-color);
}

.btn-primary:active {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
  color: var(--bs-body-color);
}

.btn-primary:focus {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
  color: var(--bs-body-color);
}

.btn-outline-primary {
  border-color: var(--bs-primary);
  color: var(--bs-body-color);
}

.btn-outline-primary:hover {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: var(--bs-body-color);
}

.btn-outline-primary:active {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
  color: var(--bs-body-color);
}

.btn-outline-primary:focus {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
  color: var(--bs-body-color);
}

.text-game-new {
  color: var(--game-new);
}

.text-game-in-progress {
  color: var(--game-in-progress);
}

.text-game-lose {
  color: var(--game-lose);
}

.text-game-win {
  color: var(--game-win);
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.bg-green {
  background-color: var(--bs-primary);
}

.btn-red {
  background-color: red;
  color: white;
}

.btn-red:hover {
  background-color: red !important;
}

.btn-red:focus {
  background-color: red !important;
}

.btn-orange {
  background-color: orange;
}

.btn-orange:hover {
  background-color: orange !important;
}

.btn-orange:focus {
  background-color: orange !important;
}